<!DOCTYPE html>
<div class="events">
  <h2>mytodo</h2>

  <!-- Todo input -->
  <form role="form" ng-submit="myTodoApp.addTodo(todoTextBoxValue)">
    <div class="row">
      <div class="input-group">
        <input  type="text" ng-model="todoTextBoxValue" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn ">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

  <br>

  <!-- todo list -->
  <div ui-sortable ng-model="myTodoApp.todoList">
    <p class="input-group" ng-repeat="todo in myTodoApp.todoList" style="cursor:move;">
      <span class="input-group-addon" style="background-color:SteelBlue; color:white">{{$index+1}}</span>
      <span class="input-group-btn">
        <button class="btn" ng-class="todo.isEditable ? 'btn-info' : 'btn-success'"
                ng-click="myTodoApp.editTodo($index, todo.text)" aria-label="Edit">E</button>
      </span>
      <input  type="text" ng-disabled="!todo.isEditable" value="{{todo.todoText}}" class="form-control"
              style="cursor:default; background-color:white;">
      <span class="input-group-btn">
        <button class="btn btn-danger" ng-click="myTodoApp.removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div>
